/* Accordion styles */

.acf-block-preview .accordion {
    border-left: 2px solid #ccc;
    border-bottom-left-radius: 20px;
    padding: 30px 0 30px 30px !important;
}

.acf-block-preview .accordion::before {
    content: "accordion";
    font-size: 0.8em;
    font-weight: bold;
    top: -20px;
    position: absolute;
    left: 0px;
    color: #ccc;
}

.accordion-item {
  overflow: hidden;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #e5e5e5;
}

.accordion-item input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-item-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion-item-title h3 {
  margin: 0 !important;
  }

.accordion-item-content {
  max-height: 0;
  opacity: 0;
  transition: all 0.35s;
  display: flex;
  gap: 1.5rem;
}

.accordion-item-content * {
  flex-grow: 1;
}

.accordion-item-image {
  margin-right: 1.5rem;
  width: 50px;
  height: 50px;
}

.accordion-item-content img {
  height: 200px;
  width: auto;
}

/*.accordion-item input:checked + .accordion-item-title::before {
  content: "-";
  transform: rotate(180deg);
}*/

.accordion-item input:checked ~ .accordion-item-content {
  max-height: 100vh;
  opacity: 1;
  margin-top: 1.5rem;
}

.accordion-item input:checked ~ .accordion-item-title .accordion-item-image {
  display: none;
}